<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notícia | FGSL &hearts; Mapas Culturais</title>
    <meta name="description" content="FGSL <3 Mapas Culturais">
    <meta name="author" content="Mateus Machado Luna">
    
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1><a href="index.html">FGSL &hearts; Mapas Culturais</a></h1>
                <br>
                <h2>Notícia de Palestra</h2>
                <p>O anúncio usado no site para palestra</p>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div 
                    id="event-3374" 
                    class="column">
                <template   
                        v-cloak       
                        v-if="!isLoadingEvent">
                    <template v-if="eventObject != undefined">
                        <h3>
                            {{ eventObject.name }}
                        </h3>
                        <p>{{ eventObject.occurrences[0].rule.description }}</p>
                        <p>{{ eventObject.occurrences[0].space.name }}</p>
                    </template>
                </template>
                <template v-else>
                    Carregando evento...
                </template>
            </div>   
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#event-3374',
            data: {
                endpoint: 'http://mapas.cultura.gov.br/api/event/find',
                select: 'id, name,occurrences.{id,space.{name},rule}',
                eventObject: undefined,
                isLoadingEvent: false
            },
            methods: {
                showEvent(loadedEvent) {
                    this.isLoadingEvent = false;
                    this.eventObject = loadedEvent[0];
                }
            },
            mounted() {
                var eventId = this.$el.id.split('-')[1];
                var request = new XMLHttpRequest();

                request.open('GET', this.endpoint + '?id=eq('+ eventId +')&@select=' + this.select, false);

                request.onload = () => {
                    if (request.status >= 200 && request.status < 400) {
                        this.showEvent(JSON.parse(request.responseText));
                    } else {
                        this.isLoadingEvent = false;
                    }
                };

                request.onerror = () => {
                    this.isLoadingEvent = false;
                };
                
                this.isLoadingEvent = true;
                request.send();
            }
        });
    </script>
</body>

</html>