<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Timeline | FGSL &hearts; Mapas Culturais</title>
    <meta name="description" content="FGSL <3 Mapas Culturais">
    <meta name="author" content="Mateus Machado Luna">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="css/site/_media_queries.css">
    <link rel="stylesheet" href="css/site/_base.css">
    <link rel="stylesheet" href="css/site/_typography.css">
    <link rel="stylesheet" href="css/site/_pages.css">
    <link rel="stylesheet" href="css/site/_schedule.css">
</head>

<body>
    <div style="background-color: #efefef; padding: 1rem 5%">    
        <div class="section">
            <h1><a href="index.html">FGSL &hearts; Mapas Culturais</a></h1>
            <br>
            <h2>Timeline de Atividades</h2>
            <p>A programação do Evento</p>
        </div>
        <br>
        <div class="section">
            <div 
                    id="newSchedule" 
                    class="timeline schedule column">

                <!-- Search Options Form-->
                <form>
                    <!-- Event Edition -->
                    <div class="form-group">
                        <label for="editionSelect">
                            Versão do Evento
                        </label>
                        <select     
                                class="form-control" 
                                id="editionSelect"
                                v-model="currentEdition"
                                @input="getTalks()">
                            <option 
                                    v-for="(eventSetting, index) of eventSettings"
                                    :key="index"
                                    :value="index">
                                {{ eventSetting.label }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="searchInput">
                            Buscar palestras
                        </label>
                        <input  
                                class="form-control" 
                                type="text" 
                                placeholder="Nome da palestra..." 
                                id="searchInput"
                                v-model="searchString">
                        <a
                                class="button"
                                type="button"
                                @click="getTalks()">Buscar</a>
                    </div>
                    <div 
                            v-if="!isLoadingSpaces"
                            class="form-group">
                        <label for="spacesSelect">
                            Escolher Local
                        </label>
                        <select     
                                class="form-control" 
                                id="spacesSelect"
                                v-model="currentSpace"
                                @input="setCurrentSpace($event.target.value)">
                            <option :value="14748">
                                Todos os locais
                            </option>
                            <option 
                                    v-for="(space, index) of spaces"
                                    :key="index"
                                    :value="space.id">
                                {{ space.name }}
                            </option>
                        </select>
                    </div>
                </form>
                <br>
                <hr>
                <br>

                <div class="container" v-show="showSlider">
                    <vue-slider 
                            ref="timeSliderValue" 
                            v-model="timeSliderValue"
                            :data="timeSliderValues" 
                            :show="showSlider"
                            :lazy="true"
                            tooltip="always"
                            piecewise="true"
                            piecewiseLabel="true"
                            piecewiseStyle="{
                                'backgroundColor': '#ccc',
                                'visibility': 'visible',
                                'width': '12px',
                                'height': '12px'
                            }"
                            piecewiseActiveStyle="{
                                'backgroundColor': '#3498db'
                            }"
                            labelActiveStyle="{
                                'color': '#3498db'
                            }"
                            width="80%"
                            :style="{ 'margin-left': '10%' }">
                    </vue-slider>
                </div>
                <button @click="showSlider = !showSlider">Toggle</button>

                <!-- Schedule Tabs -->
                <div class="schedule-tab">
                    <ul class="tab-category">
                        <li 
                                class="categoryActive" 
                                v-for="(day, index) of eventSettings[currentEdition].days"
                                :key="index"
                                :id="'day-' + index">
                            <h3>{{ day.label }}<i class="fa fa-users"></i></h3>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs">
                        <li 
                                v-for="(day, index) of eventSettings[currentEdition].days"
                                :key="index"
                                :id="'day-' + index">
                            <a>{{ day.label }}</a>
                        </li>
                    </ul>
                </div>

                <!-- Loading or error Messages-->
                <p v-if="!isLoading">
                    {{ message }}
                </p>

                <!-- The timeline itself -->
                <div 
                        v-if="!isLoading && isTalkOnTime(talk)"
                        class="timeline-block"
                        :key="index"
                        v-for="(talk, index) of talks">
                    <div class="timeline-img movie bounce-in">
                        <img 
                                v-if="talk['@files:avatar.avatarMedium'] != undefined && talk['@files:avatar.avatarMedium'].url != undefined"
                                alt="Foto da Palestra"
                                :src="talk['@files:avatar.avatarMedium'].url">
                    </div>
                    <div class="timeline-content bounce-in">
                        <div class="row equal-height">
                            <div class="col-left">
                                <div 
                                        class="content-left">
                                    <h5 class="timeline-title">
                                        {{ talk.name }}
                                    </h5>
                                    <p>
                                            {{ !showDetails[index] ? talk.shortDescription : (talk.longDescription != "" ? talk.longDescription : talk.shortDescription) }}
                                    </p>
                                    <template v-if="talk.user != null && talk.user != undefined && talk.user.agents != undefined">
                                        <div 
                                                class="speaker clearfix"
                                                v-for="(agent, aIndex) of talk.user.agents"
                                                :key="aIndex">
                                            <h6 class="speaker-name">
                                                {{ agent.name }}
                                            </h6>
                                            <span class="font-12">
                                                {{ !showDetails[index] ? agent.shortDescription : (agent.longDescription != "" ? agent.longDescription : agent.shortDescription) }}
                                            </span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="col-right">
                                <div class="content-right">
                                    <ul class="timeline-meta">
                                        <li
                                                v-if="talk.occurrences != undefined"
                                                v-for="(occurrence, oIndex) of talk.occurrences"
                                                :key="oIndex">
                                            <i class="fa fa-clock-o"></i>
                                            {{ occurrence.rule.startsAt }} - {{ occurrence.rule.endsAt }}
                                        </li>
                                    </ul>
                                    <a 
                                            v-if="(
                                                    talk.user != null &&
                                                    talk.user != undefined && 
                                                    talk.user.agents != undefined && 
                                                    talk.user.agents[0] != undefined && 
                                                    talk.user.agents[0].longDescription != undefined && 
                                                    talk.user.agents[0].longDescription != ''
                                                ) || 
                                                (talk.longDescription != undefined && talk.longDescription != '')"
                                            @click="toggleShowDetails(index)"
                                            type="button"
                                            class="button">
                                        {{ showDetails[index] ? 'Mostrar menos' : 'Mostrar mais' }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="./js/vue-silder.js"></script> <!-- some other folder, such as /up/25/o/vue-silder.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.2/qs.min.js"></script>

    <script type="text/javascript">
        new Vue({
            el: '#newSchedule',
            components: {
                'vueSlider': window[ 'vue-slider-component' ],
            },
            data: {
                message: 'Carregando...',
                messageSpaces: 'Carregando...',
                isLoadingSpaces: false,
                talks: [],
                showSlider: false,
                timeSliderValue: '2018-10-28T08:00',
                timeSliderValues: [
                    '2018-09-28T08:00',
                    '2018-10-28T08:00',
                    '2018-10-28T20:00',
                    '2018-11-22T08:00',
                    '2018-11-22T12:00',
                    '2018-11-22T16:00',
                    '2018-11-23T09:00',
                    '2018-11-23T12:00',
                    '2018-11-24T22:00'
                ],
                showDetails: [],
                currentEdition: 0,
                eventSettings: [
                    {
                        label: 'XV FGSL (2018)',
                        projectId: 1503,
                        days: [
                            { label: 'Dia 22', value: '2018-11-22' },
                            { label: 'Dia 23', value: '2018-11-23' },
                            { label: 'Dia 24', value: '2018-11-24' }
                        ],
                        spaceId: 14748
                    }
                ],
                searchString: '',
                eventSearchEndpoint: 'http://mapas.cultura.gov.br/api/event/findBySpace?',
                spaceSearchEndpoint: 'http://mapas.cultura.gov.br/api/space/find?',
                eventSearchQuery: {
                    // 'project': 'EQ(@Project:1503)',
                    'spaceId': '14748',
                    '@select': 'id,user.{agents.{name,longDescription,shortDescription}},name,longDescription,shortDescription,terms,occurrences.{id,space.{name},rule}',
                    '@files': '(avatar.avatarMedium):url',
                    '@limit': 100,
                    '@page': 1,
                    '@from': '2018-11-22',
                    '@to': '2018-11-24'

                },
                spaceSearchQuery: {
                    'id': 'EQ(14748)',
                    '@select': 'children.{name}',
                    '@limit': 15,
                    '@page': 1
                },
                currentSpace: 14748,
                spaces: []
            },
            methods: {
                showError() {
                    this.message = "Erro ao carregar dados da API.";  
                },
                showErrorSpaces() {
                    this.messageSpaces = "Erro ao carregar dados da API.";  
                },
                showSchedule(schedule) {
                    this.message = '';
                    this.talks = schedule;
                    this.showDetails = new Array(this.talks.length).fill(false);
                },
                showSpaces(spaces) {
                    this.messageSpaces = '';
                    this.spaces = spaces[0].children;
                },
                setCurrentSpace(space) {
                    this.currentSpace = space;
                    this.getTalks();
                },
                updateSearchString(searchString) {
                    if (searchString != this.searchString) {
                        this.searchString = searchString;
                        this.getTalks();
                    }
                },
                getTalks(teste) {
                    // Clean search
                    this.isLoading = true;
                    this.message = 'Carregando...';
                    this.talks = [];

                    // Updates eventSearchQuery with search params
                    // this.eventSearchQuery.project = 'EQ(@Project:' + this.eventSettings[this.currentEdition].projectId + ')';
                    
                    this.eventSearchQuery.spaceId = this.currentSpace;
                    
                    if (this.searchString != '')
                        this.eventSearchQuery['@keyword'] = this.searchString;
                    else
                        delete this.eventSearchQuery['@keyword'];

                    // Prepare Endoint
                    var request = new XMLHttpRequest();
                    request.open('GET', this.eventSearchEndpoint + Qs.stringify(this.eventSearchQuery), false);
                    request.onload = () => {
                        this.isLoading = false;
                        
                        if (request.status >= 200 && request.status < 400) {
                            this.showSchedule(JSON.parse(request.responseText));
                        } else {
                            this.showError();
                        }
                    };
                    request.onerror = () => {
                        this.showError();
                    };

                    // Performs the request
                    request.send();
                },
                getSpaces() {
                    
                    // Clean search
                    this.isLoadingSpaces = true;
                    this.messageSpaces = 'Carregando...';
                    this.spaces = [];

                    // Updates spaceQuery with search params
                    this.spaceSearchQuery.id = 'EQ(' + this.eventSettings[this.currentEdition].spaceId + ')';

                    // Prepare Endoint
                    var request = new XMLHttpRequest();
                    request.open('GET', this.spaceSearchEndpoint + Qs.stringify(this.spaceSearchQuery), false);
                    request.onload = () => {
                        this.isLoadingSpaces = false;
                        
                        if (request.status >= 200 && request.status < 400) {
                            this.showSpaces(JSON.parse(request.responseText));
                        } else {
                            this.showErrorSpaces();
                        }
                    };
                    request.onerror = () => {
                        this.showErrorSpaces();
                    };

                    // Performs the request
                    request.send();
                },
                toggleShowDetails(index) {
                    this.$set(this.showDetails, index, !this.showDetails[index]);
                },
                isTalkOnTime(talk) {
                    
                    for (let occurrence in talk.occurrences) {
                        
                        let startsAt = talk.occurrences[occurrence].rule.startsAt;
                        let startsOn = talk.occurrences[occurrence].rule.startsOn;

                        if (new Date(startsOn + 'T' + startsAt) >= new Date(this.timeSliderValue))
                            return true;
                    }
                    
                    
                    return false;
                }
            },
            created() {
                // Loads data from API
                this.getTalks();
                this.getSpaces();
            }
        });
    </script>
</body>

</html>
